.font-weight-normal {font-weight: 400;}
.font-weight-medium {font-weight: 500;}

.text-secondary {color: $secondary;}
.text-gray {color: $gray;}
.text-brand-gray {color: $brand-gray;}

.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}

.mb-03 {
  margin-bottom: 0.3rem;
}
.mb-05 {
  margin-bottom: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}