@import 'fonts';
@import 'variables';
@import 'overrides';
@import 'helpers';

html {
    font-size: 16px;

    @media only screen and (max-width: 767px) {
        font-size: 15px;
    }
    @media only screen and (max-width: 480px) {
        font-size: 14px;
    }
}
body {
    font-family: $font-family-base;
    font-size: 1rem;
    color: $gray-900;
}

/* Headings */
h1 {
    font-size: 2rem; //32px
}
h2 {
    font-size: 1.75rem; //28px
}
h3 {
    font-size: 1.5625rem; //25px
}
h4 {
    font-size: 1.375rem; //22px
}
h5 {
    font-size: 1.125rem; //18px
}

/* Buttons */
.btn {
    display: inline-block;
    font-weight: $btn-font-weight;
    color: $gray-900;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: transparent;
    outline: none !important;
    border: 1px solid transparent;
    padding: $btn-padding-y $btn-padding-x;
    font-size: $btn-font-size;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

    &.sm-padding {
        padding: 0.5rem 0.75rem;
    }
}
.btn-outline-primary, .btn-outline-primary:focus {
    color: $primary;
    border-color: $primary;

    &:hover {
        color: #fff;
        background-color: $primary;
        border-color: $primary;
    }
}
.btn-secondary, .btn-secondary:focus {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;

    &:hover {
        color: #fff;
        background-color: $primary;
        border-color: $primary;
    }
}
.btn-outline-secondary, .btn-outline-secondary:focus {
    border-color: $secondary;

    &:hover {
        border-color: $secondary;
    }
}
.btn-default, .btn-default:focus {
    color: $gray;
    border-color: $info;

    &:hover {
        color: $gray;
        background-color: $info;
        border-color: $info;
    }
}

/* Form Controls */
select,
input[type=text],
input[type=email],
.form-control {
    display: block;
    width: 100%;
    max-width: 340px;
    height: 52px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $gray-900;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $gray-600;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 5L8.5 11L2 5' stroke='%23737373' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}

/* Form Radio - Type 1 */
.form-radio-type-1 ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    padding: 0.35rem;
    border-radius: 4px;
    border: 1px solid $gray-600;

    * {margin: 0;}
    li:focus {outline: none !important;}

    input[type="radio"] {
        display: none;
    }
    label {
        font-weight: 400;
        font-size: 0.875rem;
        text-transform: uppercase;
        border-radius: 4px;
        padding: 0.35rem 0.75rem 0.25rem;
        cursor: pointer;
    }
    input[type="radio"]:checked + label {
        background: $primary;
        color: #fff;
    }
}

/* Tables */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-color: $info;
}

/* Form Validations */
form.is-invalid input[aria-invalid="true"],
form.is-invalid .form__field--invalid input,
form.is-invalid .form__field--invalid select{
    border-color: $danger;
}

/* Media Panel */
.media-panel {
    background: linear-gradient(92.58deg, #FAFAFA 3.6%, #F5F5F5 89.21%);
    border: 1px solid #E9EBEB;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1rem;
}

/* Modal */
.modal-window__dialog {
    width: 92%;
}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width: 100%;
        max-width: 1440px;
    }
}


@media only screen and (max-width: 767px) {
    .first-step-modal-window.modal-window {
        position: static;

        .modal-window__dialog {
            margin: 0;
            width: 100%;
            height: 100%;
            display: block;
        }
        .modal-window__overlay {
            display: none;
        }
        .modal-window-content__body {
            padding-left: 0;
            padding-right: 0;
        }

        .first-step-modal {
            border: 1px solid var(--info);
            padding: 2rem 0.9rem;
        }
    }
}